<h1>New Booking</h1>

<%= form_for @booking do |f| %>
 
  <div class="field">
    <%= f.label :film_id %><br />
    <%= f.collection_select :film_id, Film.order(:name), :id, :name, include_blank: true %>
  </div>
  <div class="field">
    <%= f.label :show_id, "Shows" %><br />
    <%#= f.grouped_collection_select :state_id, Country.order(:name), :states, :name, :id, :name, include_blank: true %>
    <%= f.grouped_collection_select :show_id, Film.order(:name), :shows, :name, :id, :time, include_blank: true %>
  </div>
  <div class="actions"><%= f.submit %></div>
<% end %>
